{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Publier une annonce</h1>
                <div class="well">
                    {{ form(form) }}
                </div>
            </div>

        </div> <!-- /.container -->
        <br><br>

    </div>
{% endblock %}